{% extends "layout.html" %}
{% block body %}
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}




<head>
  <meta charset="UTF-8">
  <title>Animated Search box [Pure CSS]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Antic'>
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

      <link rel="stylesheet" href="../static/styles/style.css">
      <link rel="stylesheet" href="../static/styles/button.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<script type="text/javascript" src="../static/image.js">
</script>
<form action="" method=post>
     <br>
<br><br> 
     <div class="text">Wiki-Scroll</div>  
     <center> <input id="SearchBox" class="question" placeholder="Search..." type=text name="username" value="{{
          request.form.username }}"></center>
<div class="container" align="center" style="">
    <button class="w3-button w3-border w3-blue w3-hover-green" style='margin-right:75px; position:relative; top: 0px; width:150px;height:50px; font-size:'middle''>Ask Me</button>
  <!--  <input type="button" value="images" id="imgbtn" onclick="return loadXMLDoc();" style='margin-left:100px; position:relative; top: 65px'>
-->
<button class="w3-button w3-border w3-blue w3-hover-green" type="button" value="images" id="imgbtn" onclick="return loadXMLDoc();" style='margin-left:75px; position:relative; top: 0px; width:150px; height:50px'>
Image Search</button>
</div>
</form>

<div class="output">{{output}}</div>
<div id="myDiv" class="imageset"></div>
<!--<div id="myDiv" class="imageset">
<div id="myDiv"></div>
<p>
<img src="mypic.jpg" height=200 width=200 class=image></img>
<img src="mypic.jpg" height=200 width=200 class=image></img>
<img src="mypic.jpg" height=200 width=200 class=image></img>
<img src="mypic.jpg" height=200 width=200 class=image></img>
<br>
</p>
<p>
<img src="mypic.jpg" height=200 width=200 class=image></img>
<img src="mypic.jpg" height=200 width=200 class=image></img>
<img src="mypic.jpg" height=200 width=200 class=image></img>
<img src="mypic.jpg" height=200 width=200 class=image></img>
<br>
</p>
<p>
<img src="mypic.jpg" height=200 width=200 class=image></img>
<img src="mypic.jpg" height=200 width=200 class=image></img>
<img src="mypic.jpg" height=200 width=200 class=image></img>
<img src="mypic.jpg" height=200 width=200 class=image></img>
<br>
</p>
<p>
<img src="mypic.jpg" height=200 width=200 class=image></img>
<img src="mypic.jpg" height=200 width=200 class=image></img>
<img src="mypic.jpg" height=200 width=200 class=image></img>
<img src="mypic.jpg" height=200 width=200 class=image></img>
<br>-->

{% endblock %}
